<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index</title>
    <style>
      a {
        color: black;
        text-decoration: none;
      }
    </style>
  </head>
  <body>
    <h1>Index Page</h1>
    <nav>
      <a href="/logs/new">New entry</a>
    </nav>
    <ul>
      <% for(let i = 0; i < logs.length; i++) { %>
      <li>
        <a href="/logs/<%=logs[i].id; %>"><%=logs[i].title %></a>
        <form action="/logs/<%=logs[i].id; %>?_method=DELETE" method="POST">
          <input type="submit" value="DELETE" />
        </form>
        <button><a href="/logs/<%=logs[i].id; %>/edit">EDIT</a></button>
      </li>
      <% } %>
    </ul>
  </body>
</html>
